{% extends 'base.html' %}

{% block title %}Conta{% endblock %}

{% block content %}
<style>
    /* Estilo do container principal */
    #conta-container {
        width: 100%;
        max-width: 800px;
        padding: 30px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: auto;
    }

    #conta-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .campo-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .campo-info label {
        font-weight: bold;
    }

    .botao-editar,.botao-clinicas {
        padding: 8px 16px;
        border-radius: 20px;
        background-image: linear-gradient(#256a8a, #3393c1);
        border: solid 1px #256a8a;
        font-size: 14px;
        color: white;
        font-weight: bold;
        align-self: center;
        cursor: pointer;
        text-align: center;
        margin-top: 20px;
    }

    /* Estilo do modal */
    #modal-editar, #modal-ficha,#modal-ficha-editar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    #modal-content {
        width: 100%;
        max-width: 800px;
        max-height: 80vh; /* Define a altura máxima como 80% da altura da janela */
        overflow-y: auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #modal-form-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
        gap: 30px;
    }

    #modal-ficha-form-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .modal-scrollable-content {
        max-height: 100%;
    }

    .campo-input {
        display: flex;
        flex-direction: column;
        gap: 5px; 
    }

    .campo-info textarea,
    .campo-info select {
        width: 80%; 
        box-sizing: border-box; 
        resize: none; 
        padding: 8px; 
        border: 1px solid #ccc;
        border-radius: 4px; 
        font-size: 14px; 
        line-height: 1.5;
    }

    .close-btn {
        background: none;
        border: none;
        font-size: 2.5em;
        cursor: pointer;
        color: red;
    }
</style>

<div id="conta-container">
    <h1>Minha Conta</h1>
    <div class="barra-horizontal"></div>

    <div id="conta-info">
        <div class="campo-info">
            <label>Nome:</label>
            <span>{{ usuario['nome'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Sobrenome:</label>
            <span>{{ usuario['sobrenome'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Email:</label>
            <span>{{ usuario['email'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Data de Nascimento:</label>
            <span>{{ usuario['data_nascimento'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Gênero:</label>
            <span>{{ usuario['genero'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Telefone:</label>
            <span>{{ usuario['telefone'] or "Não informado" }}</span>
        </div>
        <div class="campo-info">
            <label>Endereço:</label>
            <span>{{ usuario['endereco'] or "Não informado" }}</span>
        </div>
    </div>

    <button id="editar-btn" class="botao-editar" onclick="abrirModal()">Editar Informações</button>
    <button id="ficha-btn" class="botao-editar" onclick="abrirModal()">Informações de ficha</button>
    <a href="{{ url_for('user_clinicas') }}">
        <button id="clinicas-btn" class="botao-clinicas">Clinicas do Unuário</button>
    </a>
</div>

<!-- Modal para editar informações -->
<div id="modal-editar">
    <div id="modal-content">
        <div id="modal-header">
            <h3>Editar Informações</h3>
            <button class="close-btn" onclick="fecharModal()">×</button>
        </div>
        <form id="editar-form" method="POST">
            <div id="modal-form-content">
                <div class="campo-input">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" value="{{ usuario['nome'] }}" />
                </div>
                <div class="campo-input">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="sobrenome" value="{{ usuario['sobrenome'] }}" />
                </div>
                <div class="campo-input">
                    <label for="email">Email:</label>
                    <input type="email" id="email" value="{{ usuario['email'] }}" />
                </div>
                <div class="campo-input">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" value="{{ usuario['data_nascimento'] }}" />
                </div>
                <div class="campo-input">
                    <label for="genero">Gênero:</label>
                    <select id="genero">
                        <option value="masculino" {% if usuario['genero'] == "masculino" %}selected{% endif %}>Masculino</option>
                        <option value="feminino" {% if usuario['genero'] == "feminino" %}selected{% endif %}>Feminino</option>
                        <option value="outro" {% if usuario['genero'] == "outro" %}selected{% endif %}>Outro</option>
                    </select>
                </div>
                <div class="campo-input">
                    <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" value="{{ usuario['telefone'] or '' }}" />
                </div>
                <div class="campo-input">
                    <label for="endereco">Endereço:</label>
                    <input type="text" id="endereco" value="{{ usuario['endereco'] }}" />
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal para editar informações -->
<div id="modal-ficha">
    <div id="modal-content">
        <div id="modal-header">
            <h3>Informações da Ficha</h3>
            <h3>{{ usuario['nome'] or "Não informado" }} {{ usuario['sobrenome'] or "Não informado" }}</h3>
            <button class="close-btn" onclick="fecharModalFicha()">×</button>
        </div>
        <div id="modals-ficha">
            <div id="modal-content">
                <div class="campo-info">
                    <label>Tipo sanguineo:</label>
                    <span id="tipo_sanguineo"></span>
                </div>
                <div class="campo-info">
                    <label>Comorbidades:</label>
                    <span id="comorbidades"></span>
                </div>
                <div class="campo-info">
                    <label>Alergias:</label>
                    <span id="alergias"></span>
                </div>
                <div class="campo-info">
                    <label>Medicamentos:</label>
                    <span id="medicamentos"></span>
                </div>
                <div class="campo-info">
                    <label>Historico familiar:</label>
                    <span id="historico_familiar"></span>
                </div>
                <div class="campo-info">
                    <label>Observacoes:</label>
                    <span id="observacoes"></span>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button id="ficha-editar-btn" class="botao-editar" onclick="abrirModal()">Editar Informações</button>
        </div>
    </div>
</div>

<!-- Modal para editar informações -->
<div id="modal-ficha-editar">
    <div id="modal-content">
        <div id="modal-header">
            <h3>Informações da Ficha</h3>
            <h4>{{ usuario['nome'] or "Não informado" }} {{ usuario['sobrenome'] or "Não informado" }}</h4>
            <button class="close-btn" onclick="fecharModalFichaEdit()">×</button>
        </div>
        <form id="form-ficha-editar" onsubmit="salvarFicha(event)">
            <div class="modal-scrollable-content">
                <div id="modal-ficha-form-content">
                    <div class="campo-info">
                        <label for="tipo_sanguineo">Tipo Sanguíneo:</label>
                        <select id="tipo_sanguineo_ed">
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                    <div class="campo-info">
                        <label for="comorbidades">Comorbidades:</label>
                        <textarea id="comorbidades_ed" rows="3"></textarea>
                    </div>
                    <div class="campo-info">
                        <label for="alergias">Alergias:</label>
                        <textarea id="alergias_ed" rows="3"></textarea>
                    </div>
                    <div class="campo-info">
                        <label for="medicamentos">Medicamentos:</label>
                        <textarea id="medicamentos_ed" rows="3"></textarea>
                    </div>
                    <div class="campo-info">
                        <label for="historico_familiar">Histórico Familiar:</label>
                        <textarea id="historico_familiar_ed" rows="3"></textarea>
                    </div>
                    <div class="campo-info">
                        <label for="observacoes">Observações:</label>
                        <textarea id="observacoes_ed" rows="3"></textarea>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="botao-editar">Salvar Informações</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('ficha-btn').addEventListener('click', function() {
        const id = $(this).data('id');
        abrirModalFicha(id);
    });
    
    function abrirModalFicha(id){
        document.getElementById('modal-ficha').style.display = 'flex';
        $('#modals-ficha').data('conta_id', id);
        $.get(`/ficha`, function(ficha) {
            $('#tipo_sanguineo').text(ficha.tipo_sanguineo || "Não informado");
            $('#comorbidades').text(ficha.comorbidades || "Não informado");
            $('#alergias').text(ficha.alergias || "Não informado");
            $('#medicamentos').text(ficha.medicamentos || "Não informado");
            $('#historico_familiar').text(ficha.historico_familiar || "Não informado");
            $('#observacoes').text(ficha.observacoes || "Não informado");
        });
    }

    // Fecha o modal de ficha e abre o modal de edição com os dados preenchidos
    document.getElementById('ficha-editar-btn').addEventListener('click', function() {
        // Fecha o modal de ficha
        document.getElementById('modal-ficha').style.display = 'none';

        // Preenche os campos do modal de edição com os valores exibidos no modal de ficha
        $('#tipo_sanguineo_ed').val($('#tipo_sanguineo').text() || '');
        $('#comorbidades_ed').val($('#comorbidades').text() || '');
        $('#alergias_ed').val($('#alergias').text() || '');
        $('#medicamentos_ed').val($('#medicamentos').text() || '');
        $('#historico_familiar_ed').val($('#historico_familiar').text() || '');
        $('#observacoes_ed').val($('#observacoes').text() || '');
        
        // Abre o modal de edição
        document.getElementById('modal-ficha-editar').style.display = 'flex';
    });

    // Submete o formulário de edição
    $('#form-ficha-editar').submit(function(event) {
        event.preventDefault(); // Evita o comportamento padrão de envio do formulário

        const data = {
            tipo_sanguineo: $('#tipo_sanguineo_ed').val() || null,
            comorbidades: $('#comorbidades_ed').val() || '',
            alergias: $('#alergias_ed').val() || '',
            medicamentos: $('#medicamentos_ed').val() || '',
            historico_familiar: $('#historico_familiar_ed').val() || '',
            observacoes: $('#observacoes_ed').val() || ''
        };

        $.ajax({
            url: '/ficha/salvar',  // Rota para salvar as informações
            type: 'POST',
            contentType: 'application/json', // Define o tipo de conteúdo como JSON
            data: JSON.stringify(data), // Serializa os dados como JSON
            success: function(response) {
                alert(response.message || "Informações salvas com sucesso!");
                fecharModalFicha();
                location.reload(); // Recarrega a página para refletir as alterações
            },
            error: function(xhr) {
                alert('Erro ao salvar as informações! Por favor, tente novamente.');
            }
        });
    });


    // Fecha o modal
    function fecharModalFichaEdit() {
        document.getElementById('modal-ficha-editar').style.display = 'none';
    }

    // Fecha o modal
    function fecharModalFicha() {
        document.getElementById('modal-ficha').style.display = 'none';
    }

    // Abre o modal
    document.getElementById('editar-btn').addEventListener('click', function() {
        document.getElementById('modal-editar').style.display = 'flex';
    });

    // Fecha o modal
    function fecharModal() {
        document.getElementById('modal-editar').style.display = 'none';
    }

    // Submete o formulário de edição
    $('#editar-form').submit(function(event) {
        event.preventDefault();

        const data = {
            nome: $('#nome').val(),
            sobrenome: $('#sobrenome').val(),
            email: $('#email').val(),
            dataNascimento: $('#dataNascimento').val() || null,
            genero: $('#genero').val(),
            telefone: $('#telefone').val(),
            endereco: $('#endereco').val()
        };

        $.ajax({
            url: '/usuario',  // URL correta para envio
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                alert(response.message);
                fecharModal();
                location.reload();
            },
            error: function(xhr) {
                alert('Erro ao atualizar as informações!');
            }
        });
    });
</script>
{% endblock %}
